body{
    text-align: left;
    color: silver;
    /*border: 1px solid black; Границы контейнера*/
}

footer{
    text-align: left;
    /*text-align: center;*/
    /*text-align: justify;*/
    color: black;
    /*color: #FFC107*/;

}
.bordered-text {
            border: 1px solid silver; 
            color: black;
            padding: 10px; /* Отступы внутри рамки */
            display: inline-block; /* Чтобы рамка обтекала текст */
            text-align: center;
        }
/* Стили для кнопок соцсетей */
.button {
            display: inline-block; /* Чтобы кнопки располагались в ряд */
            padding: 10px 20px; /* Внутренние отступы */
            margin: 10px; /* Внешние отступы */
            border: none; /* Убираем рамку */
            border-radius: 5px; /* Закругленные углы */
            color: white; /* Цвет текста */
            text-decoration: none; /* Убираем подчеркивание */
            font-size: 16px; /* Размер шрифта */
            cursor: pointer; /* Курсор при наведении */
        }

        .github {
            background-color: #333; /* Цвет фона для GitHub */
        }

        .mail {
            background-color: #007bff; /* Цвет фона для Mail */
        }

        .vk {
            background-color: #4a76a8; /* Цвет фона для VK */
        }
