body{
    text-align: left;
    color: silver;
    /*border: 1px solid black; Границы контейнера*/
}

footer{
    text-align: left;
    /*text-align: center;*/
    /*text-align: justify;*/
    color: black;
    /*color: #FFC107*/;

}
