<!--
   index.html
   
   
   
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Card graal101@mail.ru</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
	<h1 style="color: silver;" > Извините, сайт находится в режиме</h1>
   <h1 style="color: silver;">  отладки/тестирования..</h1>
   <div class="container">
        <div class="photo-frame">
            <img src="{{ url_for('static', filename='img/berry.jpg') }}" alt="Фоновое фото"
             style="width: 500px; height: auto;">
        </div>
   </div>
</body>
<footer>
        <p>&copy; 2025 graal101@mail.ru BuisnesCard. All rights reserved.</p>
        <p>"Written in Flask Python."</p>
</footer>
</html>
