<!--
   index.html
-->

<!DOCTYPE html >
<html lang="ru">

<head>
	<title>Card graal101@mail.ru</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<meta charset=utf-8" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
	<h1 > Извините, сайт находится в режиме <br> отладки/тестирования..</h1>
   <div  class="container" >
        <div class="photo-frame">
            <img src="{{ url_for('static', filename='img/berry.jpg') }}" alt="Фоновое фото"
             style="width: 500px; height: auto; box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);">
        </div>
   </div>
</body>
<footer>
        <b>"Written in Flask Python."</b>
        <p>&copy; 2025 graal101@mail.ru BuisnesCard. All rights reserved.</p>
        
</footer>
</html>
